*{
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #212047;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    color: #2b2e4a;
    background-color: #9c9bc0;
}

.calculator {
    background: #9c9bc0;
    padding: 25px;
    width: 340px;
    border-radius: 12px;
}

.display input{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 28px;
    text-align: right;
    background-color: rgb(191, 190, 205);
}

.buttons{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   margin-top: 15px;
}

.calculator form button {
    border: 0;
    outline: 0;
    height: 50px;
    border-radius: 10px;
    background: #2b2e4a;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

button.equal{
   grid-column: span 2;
   background-color: #212047;
}
