@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-color: #285836;
    --primary-color-dark: #28a550;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--secondary-color);
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.link .nav__btn{
    padding: .5rem 2rem;
    color: var(--white) !important;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.link .nav__btn:hover{
    background-color: var(--primary-color-dark);
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;

}

.content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_container h1{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: var(--primary-color-dark);
    margin-bottom: 1rem;
}

.heading__1{
    font-weight: 700;
}

.heading__2{
    font-weight: 700;
    color: var(--primary-color);
}

.trust-badges{
  margin-top: 20px;
  font-size: 15px;
  color: #4b5563;
  font-weight: 500;
}

.content_container p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.content_container form{
 display: flex;
 gap: 10px;
 align-items: center;   
}

.content_container input{
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    font-size: .8rem;
    outline: none;
    border: none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.content_container button{
    width: fit-content;
    padding: 1rem;
    font-size: .8rem;
    white-space: nowrap;
    background-color: var(--primary-color);
    color: var(--white);
    outline: none;
    border: none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}


.content_container button:hover{
    background-color: var(--primary-color-dark); 
}

.image_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-content: center;
}

.image_container img{
    width: 120%;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.image_container img:nth-child(1){
    transform: translateY(70px);
}


.image_container img:nth-child(2){
    transform: translateY(-70px);
}

.image_content{
    position: absolute;
    width: 100%;
    max-width: 310px;
    left: 50%;
    top: 50%;
    transform: translate(-35%, 50%);
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--primary-color-dark)
    );
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 10px;
}


.image_content li{
    margin-bottom: 0.5rem;
}

.image_content ul{
    list-style: none;
}



/* WHY CHOOSE */

.why-choose{
  max-width: var(--max-width);
  margin: 80px auto;
  padding: 2rem 1rem;
  text-align: center;
}

.why-choose h2{
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}

.features-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.feature-card{
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.feature-card:hover{
  transform: translateY(-8px);
}



/* COURSES*/

.courses{
  max-width: var(--max-width);
  margin: 80px auto;
  padding: 2rem 1rem;
  text-align: center;
}

.courses h2{
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}

.course-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.course-card{
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.course-card:hover{
  transform: translateY(-8px);
}

.course-card button{
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.course-card button:hover{
  background-color: var(--primary-color-dark);
}



/*Navbar*/

.footer{
  background: #133a18;
  color: white;
  padding: 50px 8%;
  margin-top: 60px;
}

.footer-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer h4{
  margin-bottom: 10px;
}

.footer ul{
  list-style: none;
  padding: 0;
}

.footer ul li{
  margin-bottom: 8px;
  cursor: pointer;
}

.footer ul li:hover{
  text-decoration: underline;
}

.copyright{
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}



@media(max-width: 900px){
  .features-grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .course-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px){
  .features-grid,
  .course-grid{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 700px){
  .footer-content{
    grid-template-columns: 1fr;
    text-align: center;
  }
}


@media (max-width: 900px) {

    .link a:not(.nav__btn){
        display: none;
    }

    .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .content_container{
        text-align: center;
    }

    .content_container form{
        margin-right: auto;
        margin-left: auto;
    }

    .image_container{
        grid-area: 1/1/2/2;
    }

    .image_container img{
        transform: translateY(0) !important;
    }
}
